

body {
  background-color:grey;
}

.title {
  color:green;
  justify-content: center;
  margin-top: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.board {
  justify-content: center;
}


<div?
clas == """
< di>

